hr {
    color: white;
    width: 100%; 
 }
 
 .App-portfolio {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: top;
   color: white;
 }
 
 .portfolio-section {
     width: 75%;
 }
   
 .portfolio-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
 }
 
 .portfolio-description {
    white-space: pre-line; 
 }
 
 .portfolio-button {
    float: right;
 }

 .portfolio-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }